.showMore, .showText{
    position: relative;
    transition: 2s;
}

.showMore:hover::before, .showText::before{
    position: absolute;
    transition: 2s;
    top: 0;
    right: 0;
    background-color: green;
    color: white;
    z-index: 50;
    border-radius: .5rem;
}

.showMore:hover::before{
    width: 3rem;
    height: 3rem;
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-bottom: .5rem;
}

.showMore:hover::after:hover.showText::before{
    content: 'Despues';
    width: 100%;
    height: 100%;
}