.details{
    width: 100%;
    padding: 1rem;
    height: auto;
    gap: .5rem;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.details p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chips-content{
    height: 8rem;
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 10px;  
    justify-content: center;  
    align-items: center; 
}

.chips,.chips-center{
    border: 1px solid #40a46b;
    color:#40a46b;
    border-radius: .5rem;
    padding: .5rem;
    margin: auto;
}

.chips-center{
    grid-column: 1 / span 2;
}

.details:first-child, .chips-content:first-child{
    border-right: 2px solid #ddd;
}

.main-section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.title{
    font-weight: 700;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    padding: .7rem 0;
}



.imgPlant,.imgLeaves,.imgNose,.imgDone,.imgFlower,.imgHeart,.imgHealt,.imgHeight,.imgGift{
    background-size: contain;
    width: 2rem;
    height: 2rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .5rem;
}

.imgPlant{
    background-image: url('../../assets/Icons/SVG/icons8-planta_2.svg');
}
.imgLeaves{
    background-image: url('../../assets/Icons/SVG/icons8-planta-100_1.svg');
}
.imgNose{
    background-image: url('../../assets/Icons/SVG/icons8-oler-100_2.svg');
}
.imgDone{
    background-image: url('../../assets/Icons/SVG/icons8-de-acuerdo-100_2.svg');
}
.imgFlower{
    background-image: url('../../assets/Icons/SVG/icons8-flor-64_2.svg');
}
.imgHeart{
    background-image: url('../../assets/Icons/SVG/icons8-me-gusta-100_2.svg');
}
.imgHealt{
    background-image: url('../../assets/Icons/SVG/icons8-hospital-64_2.svg');
}
.imgHeight{
    background-image: url('../../assets/Icons/SVG/icons8-altura-96.svg');
}
.imgGift{
    background-image: url('../../assets/Icons/SVG/icons8-regalo-64_2.svg');
}